// fonts
$font-family: "Oswald", sans-serif;
$title-font: "Playfair Display", serif;

//colors
$dark-bg: #0d0E12;
$white: #ffffff;
$accent-color: #ff4646;
$accent-color-10: rgba(255, 70, 70, 0.1);
// breakpoints
$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;

// container
$container-width: 1900px;