.header {
  padding: 40px 0;
  background-color: $dark-bg;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__actions-link {
    padding: 8px 12px;
    color: $white;
  }
}