.nav {
  &__list {
    display: flex;
    gap: 12px;
  }
  &__list-link {
    color: $static-white;
    text-transform: uppercase;
    padding: 8px 12px;
    transition: all 0.3s;
    &:hover {
      color: $accent-color
    }
  }
}